@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-1::-webkit-scrollbar {
    display: none; /* For WebKit browsers */
}

.flex-1 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}